Protocol	 PPP
DNS		 DNS addres

Provider_name	 "IQ Net"
Access_Point	 "Praha City"
Access_number	 tel number

Login		 name
Password	 pasword
IP_address_type  Dynamic

Port = "TTY:C"
Speed 19200
DCD =		Off
DSR/DTR		On
RTS/CTS		On
XOn/XOff	Off

Init_string 	AT&F  ;inicializacni string
Dial_string 	ATDP  ;inicializacni string
